@model ProjectTerraformMars.Models.Feedback

@{
    ViewData["Title"] = "Create";
}

<h1>Feedback</h1>

<h4>Help us improve your experience and fill out our feedback form</h4><br />
<h5>Alternatively you can contact us by email
    or the address provided below.</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Feedback" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="contact-us">
    <address>
        Email <a href="mailto:daisy.project.mars@gmail.com">Daisy McGirr</a>.<br>
        Donegal ETB, <br />
        Ballyraine Industrial Estate<br>
        Letterkenny<br />
        Co Donegal<br />
        Ireland
    </address>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
