@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ProjectMars</h1>

    <h5>* Dream * Design * Deliver *</h5>

    <div id="cf">
        <img class="bottom" src="~/Images/marsEarth.png" />
        <img class="top" src="~/Images/marsBefore.png" />
    </div>

    <div class="main-content">
        <p>
            <span class="terra">Terraforming of Mars has always been considered a hypothetical process.</span> This consists of
            planetary engineering by which the surface and climate of Mars would be deliberately changed to make large areas of the
            environment hospitable to humans, thus making the colonization of Mars safer and sustainable.
            <span class="terra">Until now...</span>
        </p>
    </div>

    <p class="rolesAvail">Learn about current <a href="Roles">roles</a> available within ProjectMars.</p>
</div>
